<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>doon.appStoreFinder.alfred.workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>67051782-2DD5-4B05-9DC8-CEE7ED6BE543</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E868593B-2E2B-4055-818D-948EE0F80A0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4294FFE-96FB-4F3F-B74D-EFBB26484328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D9925A3-5C1E-44F6-B05C-CB918796CA32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E868593B-2E2B-4055-818D-948EE0F80A0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4718CCDA-86D7-4855-9986-DA462ED81CB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Doon</string>
	<key>description</key>
	<string>Find your app in MacOS App Store</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>App Store Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>asf</string>
				<key>queuedelaycustom</key>
				<integer>10</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...By the way, what is your favorite anime?</string>
				<key>script</key>
				<string>python main.pyc "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Find app in MacOS App Store</string>
				<key>title</key>
				<string>App Store Finder</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B4294FFE-96FB-4F3F-B74D-EFBB26484328</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3D9925A3-5C1E-44F6-B05C-CB918796CA32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>asfc</string>
				<key>subtext</key>
				<string>Thanos will have nothing but dust and blood...</string>
				<key>text</key>
				<string>Delete all icons and caches</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>67051782-2DD5-4B05-9DC8-CEE7ED6BE543</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python clean.pyc</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E868593B-2E2B-4055-818D-948EE0F80A0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>empty.mp3</string>
				<key>systemsound</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>4718CCDA-86D7-4855-9986-DA462ED81CB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Find app in MacOS App Store</string>
	<key>uidata</key>
	<dict>
		<key>3D9925A3-5C1E-44F6-B05C-CB918796CA32</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>4718CCDA-86D7-4855-9986-DA462ED81CB6</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>67051782-2DD5-4B05-9DC8-CEE7ED6BE543</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>B4294FFE-96FB-4F3F-B74D-EFBB26484328</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>E868593B-2E2B-4055-818D-948EE0F80A0F</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/doondoony</string>
</dict>
</plist>
